@media (max-width: 1024px) {
  .container {
    //background-color: rgb(171, 123, 123);
    max-width: 994px;
  }
  .header-nav {
    &__form {
      width: 685px;
    }
  }
  .header-menu {
    &__wrap {
      padding: 24px 5px;
    }
  }
  .cart-slider {
    //background-color: #43bf57;
    width: 475px;
    overflow: hidden;
    &__main {
      width: 475px;
    }
    &__for {
      width: 475px;
      //background-color: violet;
    }
    &__big {
      width: 475px;
      //background: darkcyan;
      img {
        width: 450px;
        height: 185px;
        margin: auto;
      }
    }
    &__nav {
      width: 475px;
    }
  }
  .description {
    &__left {
      max-width: 480px;
    }
  }
  .card {
    &__wrap {
      row-gap: 43px;
    }
    &__item {
      width: 220px;
    }
    &__add {
      padding: 13px 28px 12px;
    }
  }
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  //.container {
  //  //background-color: rgb(171, 123, 123);
  //  //max-width: 738px;
  //}
  .header-top {
    padding: 10px 0px;
    &__item + .header-top__item {
      margin-left: 20px;
    }
  }
  .header-nav {
    &__form {
      width: 243px;
      width: 480px;
    }
    &__link + .header-nav__link {
      margin-left: 25px;
    }
  }
  .header-menu {
    &__wrap {
      padding: 24px 0px;
    }
    &__link {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .slider {
    padding: 20px 0;
    .container {
      max-width: 100%;
      //width: 725px;
      // background-color: hotpink;
    }
  }
  .slider-content {
    max-width: 100%;
    width: 100%;
    &__item {
      width: 725px;
      background-image: url("../img/slider/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 71px 0 66px 43px;
    }
    &__title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &__btn {
      background: rgb(255, 255, 255);
      padding: 13px 14px;
      line-height: 14px;
    }
    .slick-arrow {
      right: 20px;
      margin-left: auto;
      bottom: 0;
      margin-top: auto;
      //background-color: aqua;
    }
    .slick-arrow.slick-prev {
      //background-color: fuchsia;
      z-index: 3;
      right: 49px;
    }
  }
  .breadcrumbs {
    padding: 10px 0 20px;
  }
  .contacts {
    &__title {
      margin-bottom: 30px;
    }
  }
  .contacts-form {
    width: 400px;
    &__label {
      max-width: 100%;
      width: 100%;
    }
    &__input {
      max-width: 100%;
      width: 100%;
    }
    &__textarea {
      max-width: 100%;
    }
  }
  .contacts-info {
    margin-left: 50px;
    &__list {
      width: 100%;
      flex-direction: column;
    }
  }
  .catalog-filter {
    transform: translateX(-150%);
    display: none;
    transition: all 0.6s;
  }
  .catalog-filter.active {
    transform: translateX(0%);
    position: absolute;
    display: block;
    z-index: 11;
    transition: all 0.6s;
  }
  .catalog-content {
    max-width: 100%;
    margin-left: 0px;
    &__btn {
      display: block;
      z-index: 12;
    }
  }
  .cart {
    &__wrapper {
      flex-direction: column;
    }
  }
  .cart-info {
    max-width: 100%;
    margin-left: 0;
    &__buy {
      margin-right: auto;
      margin-left: 20px;
    }
  }
  .cart-slider {
    width: 720px;
    &__main {
      width: 720px;
    }
    &__for {
      width: 720px;
      //background-color: khaki;
    }
    &__big {
      width: 599px;
      height: 249px;
      margin: auto;
      img {
        width: 599px;
        height: 249px;
      }
    }
    &__nav {
      width: 720px;
    }
  }
  .description {
    &__left {
      max-width: 390px;
    }
    &__right {
      max-width: 300px;
    }
    &__my-review {
      margin-top: 0px;
      margin-left: 15px;
    }
    &__review {
      padding: 20px 15px;
    }
  }
  .basket {
    &__item {
      border: 1px solid #000;
      padding: 15px 60px 20px 15px;
      position: relative;
      overflow: hidden;
      .basket__delete {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    &__description {
      flex-direction: column;
      row-gap: 5px;
    }
    &__color-name,
    &__color,
    &__num {
      margin-left: 0;
    }
  }
  .like {
    &__wrapper {
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }
}
@media (max-width: 425px) {
  .header-top {
    &__item + .header-top__item {
      margin-left: 5px;
    }
    &__delivery {
      display: none;
    }
  }
  .header-nav {
    padding-top: 0;
    &__wrap {
      flex-wrap: wrap;
      row-gap: 16px;
      padding-top: 10px;
    }
    &__form {
      width: 100%;
    }
    &__logo {
      order: -1;
    }
    &__user-bar {
      order: -1;
    }
  }
  .header-menu {
    &__link {
      flex-direction: column;
      row-gap: 21px;
    }
    &__wrap {
      overflow-x: scroll;
    }
    &__link + .header-menu__link {
      margin-left: 10px;
    }
  }
  .slider {
    padding: 20px 0;
    .container {
      width: 405px;
    }
  }
  .slider-content {
    &__item {
      padding: 71px 0 66px 25px;
    }
    &__title {
      font-size: 27px;
      line-height: 32px;
    }
    .slick-arrow {
      right: 10px;
      //background-color: rgb(255, 213, 0);
    }
    .slick-arrow.slick-prev {
      //background-color: rgb(255, 0, 0);
      z-index: 3;
      right: 39px;
    }
  }
  .card {
    &__item {
      width: 180px;
    }
  }
  .catalog-content {
    .container {
      padding: 0;
    }
    .card {
      padding: 0;
    }
    //&__card{
    //  background-color: cadetblue;
    //}
    .card__item {
      overflow: hidden;
    }
  }
  .contacts {
    &__wrapper {
      flex-direction: column;
      row-gap: 15px;
    }
  }
  .contacts-form {
    width: 100%;
  }
  .contacts-info {
    width: 100%;
    margin-left: 0px;
  }
  .cart-slider {
    width: 378px;
    &__main {
      width: 378px;
    }
    &__for {
      width: 378px;
      //height: 325px;
      height: 250px;
      //background-color: maroon;
    }
    &__big {
      width: 355px;
      height: 230px;
      margin: auto;
      img {
        width: 355px;
        height: 145px;
      }
    }
    &__small {
      width: 100px !important;
      margin: 0 5px;
    }
  }
  .cart-slider__nav {
    width: 378px;
    height: 90px;
  }
  .cart-info {
    &__wrap {
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }
  .map {
    padding: 20px 0 30px;
  }
  .basket {
    &__item {
      padding-left: 10px;
      padding-right: 30px;
    }
    &__info {
      margin-left: 20px;
    }
    &__number {
      margin-right: 0;
    }
    &__price-sale {
      flex-direction: column;
      row-gap: 15px;
    }
    &__delete {
      padding: 56px 15px 56px 15px;
    }
    &__total {
      flex-direction: column;
      row-gap: 10px;
    }
  }
  .footer-top {
    padding-top: 35px;
  }
  .footer-bottom {
    padding: 5px 0 20px;
    &__contacts {
      flex-direction: column;
      row-gap: 15px;
    }
    &__link + .footer-bottom__link {
      margin-left: 0px;
    }
  }
}
@media (max-width: 375px) {
  .slider {
    padding: 20px 0;
    //background-color: violet;
  }
  .slider-content {
    &__item {
      padding: 37px 0 32px 15px;
    }
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 103.3%;
    }
    &__btn {
      padding: 8px 12px;
    }
  }

  .card {
    &__wrap {
      row-gap: 20px;
    }
    &__item {
      width: 155px;
      //background-color: rgb(218, 132, 132);
      overflow: hidden;
      padding: 25px 21px 0;
      max-height: 206px;
      .card__like {
        top: 0px;
        right: 0px;
      }
    }
    &__item:hover .card__full {
      display: none;
    }
    &__images {
      width: 95px;
      height: 71px;
      margin-bottom: 25px;
      img {
        width: 95px;
        height: 71px;
      }
    }
    &__like {
      img {
        width: 14px;
        height: 12px;
      }
    }
  }
  .cart-slider {
    width: 328px;
    &__main {
      width: 328px;
    }
    &__for {
      width: 328px;
      height: 300px;
      //background-color: mediumorchid;
    }
    &__big {
      width: 310px;
      height: 220px;
      display: flex !important;
      img {
        width: 300px;
        height: 160px;
        width: 321px;
        height: 122px;
        margin: auto !important;
      }
    }
    &__nav {
      width: 328px;
    }
  }
  .basket {
    &__item {
      flex-direction: column;
    }
    &__number {
      margin-top: auto;
      margin-right: 30px;
    }
    &__delete {
      padding: 30px 15px;
    }
    &__price-sale {
      align-items: baseline;
      margin-left: auto;
    }
  }

  .footer-top {
    &__nav {
      flex-wrap: wrap;
      row-gap: 15px;
    }
    &__info {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
@media (max-width: 320px) {
  .header-top {
    &__tel {
      display: none;
    }
  }

  .card {
    &__wrap {
      row-gap: 20px;
    }
    &__item {
      width: 130px;
      padding-left: 0;
      .card__like {
        top: 0px;
        right: 0px;
      }
    }
  }
  .breadcrumbs {
    padding: 10px 0 15px;
    &__list {
      flex-wrap: wrap;
    }
  }
  .contacts {
    &__title {
      margin-bottom: 20px;
    }
  }
  .cart-slider {
    width: 273px;
    &__main {
      width: 273px;
    }
    &__for {
      width: 273px;
      height: 200px;
    }
    &__big {
      width: 273px;
      height: 165px;
      img {
        width: 266px;
        height: 110px;
      }
    }
    &__nav {
      width: 273px;
    }
  }
  .footer-bottom {
    flex-direction: column;
    row-gap: 10px;
  }
  .footer-top {
    &__info {
      align-items: flex-start;
    }
  }
}
