@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "vars";
@import "reset";
@import "global";
.header-top {
  background-color: $bg;
  padding: 10px 0 12px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .header-top__item {
    margin-left: 30px;
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
  &__delivery,
  &__tel {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    img{
      margin-right: 10px;
    }
  }
  &__delivery{
     margin-left: 30px;
  }
  &__tel{
   margin-left: auto;
  }
}

@import "media";
